h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

canvas {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}